.full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .full-width-table {
    width: 100%;
  }
  .content-list{
    margin-left: 0%;
    margin-right:50%;
  }
  .radio{
    padding-right: 5%;
  }
  .normalCust{
    color:black;
    white-space: pre-line;
    border:1px solid red;
  }
  
  .normalCust1{
    color:black;
    white-space: pre-line;
    border:1px solid rgb(16, 201, 87);
  }
  