.row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }

.RedColor{
    background-color: rgba(55, 0, 255, 0.959);
}

.OverColor{
  background-color: rgba(196, 11, 171, 0.959);
}
  